.amount {
    background-color: #fff;
    width: 370px;
    padding: 10px;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: #bb5432;
}

.amount__content {
    padding: 1px;
}

.amount__rate {
    font-size: 1.9rem;
    font-weight: 700;
    margin: 2px auto;
}

.amount__name {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 15px auto;
}