/* I have to put a height or width
   otherwise it won't know whether something is overflowing
*/
.currencies {
    background-color: #fff;
    width: 370px;
    padding: 10px;
    font-family: 'Spartan', sans-serif;
    font-size: 1rem;
    color: #bb5432;
    height: 230px;
    overflow-y: scroll;  
}

.currencies__title {
    margin: 5px 15px;
    font-weight: 700;
}


.currencies__list {
    list-style-type: none;
    padding: 0; 
    margin: 15px 0; 
}

.currencies__name {
    border-bottom: 1px solid #f1c5b6;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
}
 
.currencies__name:first-child {
    border-top: 1px solid #f1c5b6;
    
}

.currencies__name:hover {
    opacity: 1;
    background-color: #f1c5b6;
    transition: background-color 0.2s, ease 1s;
 }



