.header {
    background-color: #bb5432;
    text-align: center;
    width: 60%;
    color: #fff; 
    padding: 15px;
    
}

.converter__title{
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}

.converter__amount {
  font-family: 'Spartan', sans-serif;
  font-weight: 300;
}